<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>crm</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <!-- 重定向强制访问登录过滤器 -->
  <filter>
    <filter-name>LoginFilter</filter-name>
    <filter-class>com.bjpowernode.crm.web.filter.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <!-- 这里只需要过滤的为 .do 与 jsp -->
    <url-pattern>*.do</url-pattern>
    <url-pattern>*.jsp</url-pattern>
  </filter-mapping>

  <!-- 字符编码过滤器 -->
  <filter>
    <filter-name>EncodingFilter</filter-name>
    <filter-class>com.bjpowernode.crm.web.filter.EncodingFilter</filter-class>
  </filter>
  <!-- 这里的*.do是指只处理后台 注意的一点就是 这里的凡是以 通配符结合后缀名的形式，那么路径不可以以/开头-->
  <filter-mapping>
    <filter-name>EncodingFilter</filter-name>
    <url-pattern>*.do</url-pattern>
  </filter-mapping>

  <servlet>
    <servlet-name>UserController</servlet-name>
    <servlet-class>com.bjpowernode.crm.settings.web.controller.UserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserController</servlet-name>
    <url-pattern>/settings/user/login.do</url-pattern>
  </servlet-mapping>




  
</web-app>
































